body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

a {
    text-decoration: none;
}

.paragraph {
    text-align: center;
    padding: 0px 0px 10px 0px;
}

.container {
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 600px;
    max-width: 90%;
    max-height: 90%;
    overflow-y: auto;
}

h1, h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 0px;
}

label {
    display: inline-block;
}

button {
    width: 100%;
    padding: 10px;
    background: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-blend-mode: overlay;
}

.reqbox {
    background-color: rgb(98, 177, 247);
    padding: 10px;
    margin: 5px 0px;
    border-radius: 5px;
    border: 0px;
}

.actionbox {
    background-color: rgb(189, 215, 237);
    padding: 10px 10px 10px 10px;
    margin: 5px 0px;
    border-radius: 5px;
    border: 0px;
}

.requirementButton {
    margin: 0px 0px 10px 0px;
}

.requirement button,
.action button {
    width: auto;
    padding: 5px 10px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.deleteButton {
    background: #d9534f;
}

button:hover {
    opacity: 0.8;
}

.no-wrap-textarea {
    white-space: pre;
    overflow-x: auto;
    overflow-y: auto;
}

.output {
    margin-top: 20px;
}

textarea[readonly] {
    width: 100%;
    background: #e9ecef;
    cursor: not-allowed;
}

.generateButton {
    background-color: dodgerblue;
    margin-top: 5px;
}

.hide {
    display: none !important;
}